@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700&display=swap');

* {
  font-family: 'Muli';
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
